#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

h1:hover{
  max-width: max-content;
  position: relative;
  background: #fff;
  cursor: pointer;
  &::before{
    content: attr(data);
    display: block;
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #333;
    transition: width 300ms;
    width: 0;
  }
  &:hover{
    &::after{
      width: 100%;
    }
  }
}

h1{
  padding: 0.1em;
}